<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955473161968-0argn9t2rtcqectgoc472m0q4rm03dbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955473161968-0argn9t2rtcqectgoc472m0q4rm03dbg</string>
	<key>API_KEY</key>
	<string>AIzaSyA8KpRf9t8nJRdzJGZub8WwbfspdEbhQsw</string>
	<key>GCM_SENDER_ID</key>
	<string>955473161968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csulbDsc2021</string>
	<key>PROJECT_ID</key>
	<string>csulb-dsc-2021-a8941</string>
	<key>STORAGE_BUCKET</key>
	<string>csulb-dsc-2021-a8941.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955473161968:ios:44142905607fb685fe9c35</string>
</dict>
</plist>